{% extends 'base.html' %}

{% block title %} Grumpy {% endblock %}


{% block title_page %}Token{% endblock %}

{% block keys_active %}active{% endblock %}
{% block register_key_active %}active{% endblock %}

{% block content %}


{% if messages %}
<ul class="messages" style ="list-style-type: none; margin-left: -35px; ">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="card shadow mb">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Register new key</h6>
    </div>
    <div class="card-body">
        <form METHOD="POST" class="key">
            {% csrf_token %}
            <div class="form-key row">
                <input type="hidden" name="csrfmiddlewaretoken" value="WWsMxu7Y8cMlpR4P4s50myUqAM2jbPD2URGF49OiULbbPGCqKN8ky2g61uTULaw5">
                <div class="col-4" >
                    <label class="control-label">Name key</label>
                    <input type="text" name="tokenname" placeholder="Example: John's key" required="" id="id_tokenname" class="form-control">
                </div>
                <div class="col-6" >
                    <label class="control-label">Key</label>
                    <input type="text" name="token" placeholder="Example: 12345HSAHJ1243423" required="" id="id_token" class="form-control">
                </div>
                <div class="col-2">
                    <label class="control-label"><br></label>
                    <div class="row">
                        <input type="submit" class="btn btn-primary" value="Save">
                        &nbsp;
                        <a class="btn btn-secondary" href="{% url 'key' %}" role="button">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
