{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Grumpy {% endblock %}


{% block title_page %}Dashboard{% endblock %}


{% bootstrap_css %}
{% block import_css %}
<!-- Custom styles for this page -->
<link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

{% endblock %}

{% block dashboard_active %}active{% endblock %}


{% block content %}

    <!--  Disabled inputs   -->
    <input id="numberRepositoriesValues" type="hidden" name="numberRepositories"  value="{{repository.openIssues}}">
    <input id="numberRepositoriesValues2" type="hidden" name="numberRepositories"  value="{{repository.closedIssues}}">
    <input id="numberIssuesValues" type="hidden" name="numberIssues"  value="{{amountIssues}}">
    <input id="numberCommentsValues" type="hidden" name="numberComments"  value="{{amountComments}}">

    <input id="openClosedIssues_value" type="hidden" name="listaDeValores"  value="{{repository.openIssues}}, {{repository.closedIssues}}">
    <input id="commentsOpenClosedIssues_value" type="hidden" name="commentsIsses"  value="{{ repository.amountOpenComments}}, {{ repository.amountClosedComments }}">
    <input id="reactionsOpenIssues_value" type="hidden" name="reactionsOpenIssues"  value="{{reactions.like}}, {{reactions.heart}}, {{reactions.hooray}}, {{reactions.confused}}, {{reactions.deslike}}, {{repository.laugh}}, {{repository.rocket}}, {{repository.eyes}}">
    <input id="reactionsClosedIssues_value" type="hidden" name="reactionsClosedIssues"  value="94, 60, 100, 93, 76, 65, 4, 80">

    <input id="topLabelName" type="hidden" name="topLabels"  value="{{events.eventname_1}}, {{events.eventname_2}}, {{events.eventname_3}}, {{events.eventname_4}}, {{events.eventname_5}}">
    <input id="topLabel_value" type="hidden" name="topLabels"  value="{{events.amountOfEvent_1}}, {{events.amountOfEvent_2}}, {{events.amountOfEvent_3}}, {{events.amountOfEvent_4}}, {{events.amountOfEvent_5}}">

    <!---->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <button onclick="window.print()" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
    </div>

    <!-- Sumary -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Open issues</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="numberRepositories">
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Closed issues</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="numberRepositories2">
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Issues</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="numberIssues"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Comments</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="numberComments"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="row">
        <div class="col-lg-6">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Open issues e Closed issues</h6>
                </div>
                <div class="card-body">
                    <canvas id="openIssuesClosedIssues" ></canvas>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Number of comments: Open issues and closed issues</h6>
                </div>
                <div class="card-body">
                    <canvas id="commentsOpenIssuesClosedIssues" ></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Reactions of Open Issues</h6>
                </div>
                <div class="card-body">
                    <canvas id="reactionsOpenIssues" ></canvas>
                </div>
            </div>

        </div>

<!--        <div class="col-lg-6">-->
<!--            &lt;!&ndash; Basic Card Example &ndash;&gt;-->
<!--            <div class="card shadow mb-4">-->
<!--                <div class="card-header py-3">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">Reactions of Closed Issues</h6>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <canvas id="reactionsClosedIssues" ></canvas>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
   <div class="col-lg-6">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top 10 events</h6>
                </div>
                <div class="card-body">
                    <canvas id="top10labels" ></canvas>
                </div>
            </div>
        </div>
    </div>


<script>

    // Sumary
    var numberRepositories = document.getElementById('numberRepositoriesValues').getAttribute("value");
    document.getElementById('numberRepositories').innerHTML = numberRepositories;

    var numberRepositories2 = document.getElementById('numberRepositoriesValues2').getAttribute("value");
    document.getElementById('numberRepositories2').innerHTML = numberRepositories2;

    var numberIssues = document.getElementById('numberIssuesValues').getAttribute("value");
    document.getElementById('numberIssues').innerHTML = numberIssues;

    var numberComments = document.getElementById('numberCommentsValues').getAttribute("value");
    document.getElementById('numberComments').innerHTML = numberComments;

    /*  Graphic 01: Open issues e Closed issues  */
    var vetor1 = document.getElementById('openClosedIssues_value').getAttribute("value").replace("[","").replace("]","").split(", ");
    var ctx1 = document.getElementById('openIssuesClosedIssues').getContext('2d');
    var openIssuesClosedIssues = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['Open', 'Closed'],
            datasets: [{
                label: '# of Votes',
                data: [parseInt(vetor1[0]), parseInt(vetor1[1])],
                backgroundColor: [
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [

                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {

        }
    });

    /*  Graphic 02: Number of comments - Open issues and closed issues  */
    var vetor2 = document.getElementById('commentsOpenClosedIssues_value').getAttribute("value").replace("[","").replace("]","").split(", ");
    var ctx2 = document.getElementById('commentsOpenIssuesClosedIssues').getContext('2d');
    var commentsOpenIssuesClosedIssues = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Open', 'Closed'],
            datasets: [{
                label: '# of Votes',
                data: [parseInt(vetor2[0]), parseInt(vetor2[1])],
                backgroundColor: [
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {

        }
    });

    /*  Graphic 03: Reactions of Open Issues */
    var vetor3 = document.getElementById('reactionsOpenIssues_value').getAttribute("value").replace("[","").replace("]","").split(", ");
    var ctx3 = document.getElementById('reactionsOpenIssues').getContext('2d');
    var reactionsOpenIssuesChart = new Chart(ctx3, {
        type: 'radar',
        data: {
            labels: ['Like', 'Heart', 'Hooray', 'Confused', 'Deslike', 'Laugh', 'Rocket', 'Eyes'],
            datasets: [{
                data: [parseInt(vetor3[0]), parseInt(vetor3[1]),
                       parseInt(vetor3[2]), parseInt(vetor3[3]),
                       parseInt(vetor3[4]), parseInt(vetor3[5]),
                       parseInt(vetor3[6]), parseInt(vetor3[7])],
                label: "Number of Reactions ",
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                ],
            }]
        },
        options: {
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 50,
                    suggestedMax: 100
                }
            }
        }
    });

    /*  Graphic 04:  Reactions of Closed Issues
    var vetor4 = document.getElementById('reactionsClosedIssues_value').getAttribute("value").replace("[","").replace("]","").split(", ");
    var ctx4 = document.getElementById('reactionsClosedIssues').getContext('2d');
    var reactionsClosedIssues = new Chart(ctx4, {
        type: 'radar',
        data: {
            labels: ['Like', 'Heart', 'Hooray', 'Confused', 'Deslike', 'Laugh', 'Rocket', 'Eyes'],
            datasets: [{
                data: [parseInt(vetor4[0]), parseInt(vetor4[1]),
                       parseInt(vetor4[2]), parseInt(vetor4[3]),
                       parseInt(vetor4[4]), parseInt(vetor4[5]),
                       parseInt(vetor4[6]), parseInt(vetor4[7])],
                label: "Number of Reactions ",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
            }]
        },
        options: {
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 50,
                    suggestedMax: 100
                }
            }
        }
    });
    */

    /*  Graphic 05:  Top 10 labels */
    var vetor5_name = document.getElementById('topLabelName').getAttribute("value").replace("[","").replace("]","").split(", ");
    var vetor5_value = document.getElementById('topLabel_value').getAttribute("value").replace("[","").replace("]","").split(", ");

    var ctx5 = document.getElementById('top10labels').getContext('2d');
    var toplabels = new Chart(ctx5, {
        type: 'bar',
        data: {
            labels: [vetor5_name[0], vetor5_name[1], vetor5_name[2], vetor5_name[3], vetor5_name[4]],
            datasets: [{
                data: [parseInt(vetor5_value[0]), parseInt(vetor5_value[1]), parseInt(vetor5_value[2]), parseInt(vetor5_value[3]), parseInt(vetor5_value[4])],
                label: ["Events"],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
            }]
        },
        options: {
        }
    });
</script>

{% endblock %}

{% block import_script %}
<!--IMPORT SCRIPTS -->

{% bootstrap_javascript jquery="full" %}

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>


{% endblock %}
