{% extends 'base.html' %}

{% block title %} Grumpy {% endblock %}


{% block title_page %}Issues{% endblock %}


{% block import_css %}
<!-- Custom styles for this page -->
<link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block issues_active %}active{% endblock %}



{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mined Issues</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th style="text-align: center;vertical-align: middle;">Status</th>
                    <th style="text-align: center;vertical-align: middle;">Comments</th>
                    <th style="text-align: center;vertical-align: middle;">Reactions</th>
                    <th style="text-align: center;vertical-align: middle;">Events</th>
                    <th class="action th sorting_desc_disabled th sorting_asc_disabled" id="action" style="text-align: center;vertical-align: middle;">See issues</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                     <th style="text-align: center;vertical-align: middle;">Status</th>
                    <th style="text-align: center;vertical-align: middle;">Comments</th>
                    <th style="text-align: center;vertical-align: middle;">Reactions</th>
                    <th style="text-align: center;vertical-align: middle;">Events</th>
                    <th class="action th sorting_desc_disabled th sorting_asc_disabled"  style="text-align: center;vertical-align: middle;">See issues</th>
                </tr>
                </tfoot>
                <tbody>
                {% for i in Issues_List %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td style="text-align: center;vertical-align: middle;">
                        {% if i.status == 'open' %}
                            <a href="#" class="btn btn-success ">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-fw fa-exclamation-circle"></i>
                                    </span>
                                <span class="text">{{ i.status }}</span>
                            </a>
                         {% endif %}

                        {% if i.status == 'closed' %}
                            <a href="#" class="btn btn-danger ">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-fw fa-exclamation-circle"></i>
                                    </span>
                                    <span class="text">{{ i.status }}</span>
                            </a>
                         {% endif %}
                        </td>
                    <td style="text-align: center;vertical-align: middle;">{{ i.comments }}</td>
                    <td style="text-align: center;vertical-align: middle;">{{ i.reactions }}</td>
                    <td style="text-align: center;vertical-align: middle;">{{ i.events }}</td>
                    <td style="text-align: center;vertical-align: middle;">
                        <form action="{% url 'issueDetail' reponame=i.repository_name_url id=i.id %} " method="post">
                            {% csrf_token %}
                            <button href="#" class="btn btn-success btn-circle btn-sm">
                                <i class="fas fa-eye"></i>
                            </button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block import_script %}
<!--IMPORT SCRIPTS -->

<!-- Page level plugins -->
<script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../static/js/demo/datatables-demo.js"></script>


<script src="../../static/js/script.js"></script>

{% endblock %}