{% extends 'base.html' %}
{% load static %}

{% block title %} Grumpy {% endblock %}


{% block title_page %}Miners{% endblock %}


{% block import_css %}
<!-- Custom styles for this page -->
<link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block mining_active %}active{% endblock %}
{% block registered_miners_active %}active{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary"> Miner progress </h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="col-sm-6">
                <label> Miner Name: {{ minerName }} </label>
                <br>
                <label> Token Name: {{ tokenAssociated }}</label>
                <br>
                <div class='progress' >
                    <div id='progress-bar' class='progress-bar progress-bar-striped progress-bar-animated' style="background-color: #68a9ef; width: 50%;">&nbsp;</div>
                </div>
                <div id="progress-bar-message">Waiting for progress to start...</div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
                        CeleryProgressBar.initProgressBar(progressUrl);
                    });
                </script>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-secondary" href="{% url 'miners' %}" role="button">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block import_script %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

{% endblock %}
